

<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>


  <table class="table table-bordered table-striped" style="width: 43%;max-width: 100%;margin-bottom: 20px;margin: auto;  font-size: 18px; text-align: center;">  

     <tbody id="category-index"> 

  <thead>
      <tr>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Editing</th>
        <th>Delete</th>
      
      </tr>
    </thead>



<% @category1.each do |search| %>
  <tr>
    <td style="width: 433px;text-align: center;"><%= search.empname %></td>
    <td style="width: 251px;text-align: center;"><%= search.empdept %></td>
    
    <td style="width: 237px;">
   
    <%= link_to "Edit", edit_search_path(search), remote: true, class: "btn btn-default" %>
    </td>




     <td>
 
   <%= link_to "Delete", search_delete_path(search), remote: true, class: "btn btn-danger",:onclick =>"return delon(this.id);" %> 

    </td> 

  </tr>
<% end %>


   </tbody>
   </table>


  
     

     

 